*{
    background-color: rgb(20, 31, 21);
    margin:10px ;
    padding-top: 1px;
}
h1{
    color: aliceblue;
    padding: 10px;
}
h2{
    color: aliceblue;
    text-decoration: underline;
}
.red{
    text-decoration: line-through;
    color: red;
}
li{
 color: #7465e3;
}