* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: 'Work Sans', sans-serif;
}

#nav {
    height: 50px;
    width: 100%;
    background-color: transparent;
    padding-right: 1rem;

    display: flex;
    align-items: end;
    justify-content: end;

    position: fixed;
}

.navBtn {
    padding: 8px 14px;
    font-weight: bold;
    margin-right: 0.5rem;
    background-color: black;
    color: white;
    border-radius: 20px;
}

#name {
    padding: 2rem;
    position: relative;
    /* background-color: blueviolet; */
}

#name>h1 {
    font-size: 5rem;
}

#name>p {
    font-size: 1.2em;
    font-weight: bold;

    margin-top: 0.3em;
    display: inline-block;
}

#name>span {
    position: absolute;
    right: 3%;

    font-size: 1.4rem;
    font-weight: bold;
}

#img1 {
    height: 700px;
    width: 100%;
    object-fit: cover;
}

#about {
    display: flex;
    justify-content: space-between;
    height: 350px;
    /* background-color: blue; */
    padding: 2rem;
}

#about>h1 {
    width: 65%;
    font-size: 3rem;
}

#about01 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: blue; */

    border-left: 3px solid black;
}

#about01>h3 {
    font-size: 2rem;
    margin-left: 4rem;
}

#icons {
    font-size: 1.6rem;
    margin-left: 3.5rem;
    margin-bottom: 0.4rem;
}

#icons>i {
    padding: 8px;
    color: white;
    background-color: black;
    border-radius: 20px;
    margin-left: 0.5rem;
}

#about2 {
    display: flex;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 2rem;
}

#about2-1 {
    width: 33%;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

#about2-1>i {
    font-size: 2rem;
    margin-right: 2rem;
}

#about2-2 {
    width: 65%;
    margin: 2rem 0;
    border-left: 3px solid black;
    /* background-color: red; */
}

#part1,
#part2 {
    display: flex;

    margin-left: 2rem;
    margin-right: -1.7rem;
}

#part1 {
    border-bottom: 3px solid black;
}

.blocks {
    /* background-color: aqua; */
    width: 49%;
    margin: 0 2rem 2rem 0;
    padding-left: 2rem;
}

.b2 {
    border-left: 3px solid black;
}

.pb2 {
    margin-top: 2rem;
    margin-bottom: 0.4rem;
}

#b1 {
    padding-left: 0px;
}

#main>p {
    font-size: 5rem;
    margin: 0 2rem;
    border-bottom: 3px solid black;
    padding-bottom: 2rem;
    word-spacing: 14px;
}